<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.search2clip</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>87825E46-152C-45E5-973B-264894F5AFBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8872E81B-3665-4FB1-92A0-27E8C4381D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Skrypnyk (alex@drevops.com)</string>
	<key>description</key>
	<string>Search directories contents and copy the result to clipboard.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>search2clip</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8872E81B-3665-4FB1-92A0-27E8C4381D36</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>k</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>87825E46-152C-45E5-973B-264894F5AFBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow to search directories contents and copy the result to clipboard.

https://github.com/AlexSkrypnyk/alfred-search2clip</string>
	<key>uidata</key>
	<dict>
		<key>87825E46-152C-45E5-973B-264894F5AFBE</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8872E81B-3665-4FB1-92A0-27E8C4381D36</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.search2clip/paths.txt</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string># File containing the paths to search in.</string>
			<key>label</key>
			<string>Paths file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>ALFRED_SEARCH2CLIP_PATHS_FILE</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/AlexSkrypnyk/alfred-search2clip</string>
</dict>
</plist>
